<!doctype html>
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <title>我的APP</title>
  <!--公用的 css -->
  <div th:replace="@{publicTpl/comm/comm}"></div>
</head>
<body class="bg-fff">
<!--头部-->
<div class="header border-bottom">
	<div th:replace="@{publicTpl/comm/head}"></div>
</div>

<!--注册页面-->
<div class="wid1200 padtop50 clearfix regbox">
	
	<div class="am-tabs" data-am-tabs="{noSwipe: 1}" id="doc-tab-demo-1">
		<ul class="am-tabs-nav am-nav am-nav-tabs">
			<li class="am-active"><a href="javascript: void(0)">用户登录 </a></li>
		</ul>
		<div class="am-tabs-bd">
			<div class="am-tab-panel am-active">
				  <form th:action="@{/login}" method="post" class="am-form" data-am-validator="true">
				      <div class="am-u-md-6">
				      	<div class="am-u-md-12 am-form-group">
				      		<div class="am-u-md-3 lablel"><em>*</em>邮箱</div>
				      		<div class="am-u-md-9"><input type="email" name="username" class="" placeholder="邮箱地址" required="required" id="email"/></div>
				      	</div>
				      	<div class="am-u-md-12 am-form-group">
				      		<div class="am-u-md-3 lablel"><em>*</em>密码</div>
				      		<div class="am-u-md-9"><input type="password" name="password" class="" placeholder="密码" id="password" required="required"/></div>
				      	</div>
				      	<!-- <div class="am-u-md-12 am-form-group">
				      		<div class="am-u-md-3 lablel"><em>*</em>验证码</div>
				      		<div class="am-u-md-3"><img id ="images" th:src="@{/draw/image}" class="yzm" alt=""/></div>
				      		<div class="am-u-md-6"><input type="text" class="" placeholder="输入验证码"  required="required" id="checkCode"/></div>
				      	</div> -->
				      	<div class="am-u-md-12 am-form-group">
				      		<div class="am-u-md-3 lablel"></div>
				      		<div class="am-u-md-9"><button type="submit" class="am-btn am-btn-success">登录系统</button></div>
				      	</div>
				      </div>
			      </form>
			      <div class="am-u-md-6">个人IMG</div>
			</div>
		</div>
	</div>
</div>
<!--footer-->
<div class="footer">
	<div th:replace="@{publicTpl/comm/foot}"></div>
</div>
<!-- 公用的js -->
<div th:replace="@{publicTpl/comm/commJs}"></div>
<script th:inline="javascript">
/*<![CDATA[>*/
    $(function(){
    	$("#images").on('click',function(){
    		var myDate=new Date();
    		$(this).attr("src",[[@{/draw/image}]]+"?time = "+myDate.getTime());
    	});
    });
/*]]>*/          
</script>
</body>
</html>
