<!doctype html>
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <title>H5DS 后台系统</title>
  <meta name="description" content="史上最强HTML5编辑器"/>
  <meta name="keywords" content="index"/>
  <!--公用的 css -->
    <div th:replace="@{adminTpl/comm/comm}"></div>
</head>
<body th:inline="text">

<div th:replace="@{adminTpl/comm/head}"></div>

<div class="am-cf admin-main">
  
  <!-- sidebar start -->
  <div th:replace="@{adminTpl/comm/nav}"></div>
  
   <!-- content start -->
  <div class="admin-content">

    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">应用管理</strong> / <small>用户应用</small></div>
      <div class="searchbox">
        <div class="am-input-group">
          <input type="text" class="am-form-field" placeholder="输入用户名查询"/>
          <span class="am-input-group-btn">
            <button class="am-btn am-btn-default" type="button">搜索</button>
          </span>
        </div>
      </div>
    </div>

    <ul class="am-avg-lg-16 am-margin gallery-list">

      <li class="item" th:each="data:${page.returnList}" th:attr="data-id=${data.id}" data-id="">
        <span class="admin-data" th:text="${data.createTime}==null?'':${#calendars.format(data.createTime,'yyyy-MM-dd')}"></span>
        <a target="_blank" th:href="@{${data.currentPath}}">
          <img style="height:200px; width:280px;" class="am-img-thumbnail am-img-bdrs" th:src="@{${data.coverPicture}==null?'/publicStatic/images/main1.jpg':${data.coverPicture}}" alt=""/>
          <img class="qrCode" th:src="@{${data.qrCode}}" alt=""/>
          <div th:text="${data.appName}" class="gallery-title"></div>
          <div class="gallery-desc">
            点击：10 &nbsp;&nbsp;
            使用：150 &nbsp;&nbsp;
            <div class="am-dropdown" data-am-dropdown="data-am-dropdown" style="float:right;">
              <button class="am-btn am-btn-default am-btn-xs am-dropdown-toggle" data-am-dropdown-toggle="data-am-dropdown-toggle"><span class="am-icon-cog"></span> <span class="am-icon-caret-down"></span></button>
              <ul class="am-dropdown-content">
                <li><a class="set-to-case" th:attr="data-userid=${data.userId},data-appid=${data.Id}" data-userid="" data-appid="" href="javascript:;">设为案例</a></li>
                <li><a class="app-delthis" th:attr="data-appid=${data.Id}" data-appid="" href="javascript:;">删除应用</a></li>
              </ul>
            </div>
          </div>
        </a>
      </li>

    </ul>

    <div class="am-cf">
         <span style="margin-left:20px;">共  [[${page.totalApps}]] 条记录</span> 
         <div class="page-list" style="float:right;">
            <input id="totalPage" type="hidden" th:value="${page.totalPages}"/>
            <input id="currentPage" type="hidden" th:value="${page.currentPage}"/>
            <ul class="am-pagination" style="margin:0;">
              <li class="" th:attr="class=${page.currentPage} == 0?'am-disabled':''"><a style="padding: 9px 12px; position: relative; top: 1px;" href="javascript:;">《</a></li>
              <li class="page" th:each="data:${#numbers.sequence(1,page.totalPages)}" th:if="${page.totalPages}!=0"><a href="javascript:;"><i class="iconfont" th:text="${data}"></i></a></li>
              <li class="" th:attr="class=${page.currentPage} == ${page.totalPages}?'am-disabled':''"><a style="padding: 9px 12px; position: relative; top: 1px;" href="javascript:;">》</a></li>
            </ul>
        </div>
    </div>

  </div>
  <!-- content end -->

</div>
<!-- admin-main end -->

 <div th:replace="@{adminTpl/comm/foot}"></div>
 
 </body>
<script th:inline="javascript">
/*<![CDATA[>*/
   $(function(){
      var total = [[${page.totalPages}]];
      var current = [[${page.currentPage}]];
      $(".am-pagination").on("click",".page",function(){
        //console.log([[@{/app/findApps}]]+"?currentPage="+($(this).find("i").html()-1) );
        window.location.href = [[@{/admin/findAllApp}]]+"?currentPage="+($(this).find("i").html()-1);
      });
      $(".am-pagination li").first().click(function(){
        console.log(current);
        if(current != 0){
          current--;
          window.location.href = [[@{/admin/findAllApp}]]+"?currentPage="+current;
        }
      });
    $(".am-pagination li").last().click(function(){
      console.log(current);
      if(current < (total-1)){
        current++;
          window.location.href = [[@{/admin/findAllApp}]]+"?currentPage="+current;
        }
      });
    
  //设置为案例
  $(document)
    .on('click', '.set-to-case', function(event) {
      var userId = $(this).attr("data-userid");
      var appId = $(this).attr("data-appid");
      $.ajax({
        url: '/admin/shareCase',
        type: 'POST',
        dataType: 'json',
        data: {userId:userId, appId:appId}
      })
      .done(function(msg) {
        if(msg){
          alert("设置案例成功！");
        }
      })
      .fail(function() {
        console.log("error");
      })
      .always(function() {
        //console.log("complete");
      });
      
  }).on("click",".app-delthis",function(){ //删除案例
	  var appId = $(this).attr("data-appid");
	  alert("==删除案例id="+appId);
    return false;
	  $.ajax({
		  url:'url',
		  type:'post',
		  data:{appId:appId},
		  success:function(msg){
			  console.log(msg);
		  }
	  });//end ajax
  });


});
/*]]>*/   
</script>
</html>