<!doctype html>
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <title>H5DS 后台系统</title>
  <meta name="description" content="史上最强HTML5编辑器"/>
  <meta name="keywords" content="index"/>
  <!--公用的 css -->
  <div th:replace="@{adminTpl/comm/comm}"></div>

  <!--引入JS-->
  <script src="/publicStatic/h5ds/scripts/plugin.min.js"></script>

<script th:src="@{/publicStatic/script/jqueryUpload/jquery.ui.widget.js}"></script>
<script th:src="@{/publicStatic/script/jqueryUpload/jquery.iframe-transport.js}"></script>
<script th:src="@{/publicStatic/script/jqueryUpload/jquery.fileupload.js}"></script>
</head>
<body th:inline="text">

<div th:replace="@{adminTpl/comm/head}"></div>

<div class="am-cf admin-main">
  
  <!-- sidebar start -->
  <div th:replace="@{adminTpl/comm/nav}"></div>

<!-- content start -->
<div class="admin-content">

    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">素材管理</strong> / <small>音乐素材</small></div>
    </div>

    <div class="am-g">
      <div class="am-u-sm-12 am-u-md-8">
        <div class="am-btn-toolbar">
          <div class="am-btn-group am-btn-group-xs">
            <div class="am-form-group am-form-file">
			  <button type="button" class="am-btn am-btn-success am-btn-sm">
			    <i class="am-icon-cloud-upload"></i> 选择要上传的音乐</button>
			  <input id="fileuploads" name="file"  type="file" th:attr="data-url=@{/upload/music}" data-url="" multiple="multiple" />
			</div>
          </div>
        </div>
      </div>
      <div class="am-u-sm-12 am-u-md-2 am-u-offset-2 am-form">
        <div class="am-form-group">&nbsp;</div>
      </div>
    </div>

    <div class="am-g">
    	<div class="am-u-sm-12">
			<table class="am-table am-table-bd am-table-striped admin-content-table">
	          <tr>
	            <th>ID</th>
	            <th>音乐名称</th>
	            <th>地址</th>
	            <th>管理</th>
	          </tr>
	          
	          <tr th:each="data:${page.returnList}">
	            <td th:text="${data.id}"></td>
	            <td th:text="${data.musicName}"></td>
	            <td th:text="${data.filePath}"></td>
	            <td>
	              <div class="am-dropdown" data-am-dropdown="data-am-dropdown">
	                <button class="am-btn am-btn-default am-btn-xs am-dropdown-toggle" data-am-dropdown-toggle="data-am-dropdown-toggle"><span class="am-icon-cog"></span> <span class="am-icon-caret-down"></span></button>
	                <ul class="am-dropdown-content">
	                  <li><a class="music-update" th:attr="data-id=${data.id}" data-id="" href="javascript:;">修改名称</a></li>
	                  <li><a class="music-del" th:attr="data-id=${data.id}" data-id="" href="javascript:;">删除音乐</a></li>
	                </ul>
	              </div>
	            </td>
	          </tr>
	          
	        </table>
        </div>
    </div>

    <div class="am-cf">
         <span style="margin-left:20px;">共  [[${page.totalApps}]] 条记录</span> 
         <div class="page-list" style="float:right;">
            <input id="totalPage" type="hidden" th:value="${page.totalPages}"/>
            <input id="currentPage" type="hidden" th:value="${page.currentPage}"/>
            <ul class="am-pagination" style="margin:0;">
              <li class="" th:attr="class=${page.currentPage} == 0?'am-disabled':''"><a style="padding: 9px 12px; position: relative; top: 1px;" href="javascript:;">《</a></li>
              <li class="page" th:each="data:${#numbers.sequence(1,page.totalPages)}" th:if="${page.totalPages}!=0"><a href="javascript:;"><i class="iconfont" th:text="${data}"></i></a></li>
              <li class="" th:attr="class=${page.currentPage} == ${page.totalPages}?'am-disabled':''"><a style="padding: 9px 12px; position: relative; top: 1px;" href="javascript:;">》</a></li>
            </ul>
        </div>
    </div>

  </div>
  <!-- content end -->

</div>

<div th:replace="@{adminTpl/comm/foot}"></div>

</body>

<script th:inline="javascript">
/*<![CDATA[>*/
$(function(){
      var total = [[${page.totalPages}]];
      var current = [[${page.currentPage}]];
      $(".am-pagination").on("click",".page",function(){
        //console.log([[@{/app/findApps}]]+"?currentPage="+($(this).find("i").html()-1) );
        window.location.href = [[@{/admin/findMusic}]]+"?currentPage="+($(this).find("i").html()-1);
      });
      $(".am-pagination li").first().click(function(){
        console.log(current);
        if(current != 0){
          current--;
          window.location.href = [[@{/admin/findMusic}]]+"?currentPage="+current;
        }
      });
    $(".am-pagination li").last().click(function(){
      console.log(current);
      if(current < (total-1)){
        current++;
          window.location.href = [[@{/admin/findMusic}]]+"?currentPage="+current;
        }
      });
});

$(function(){
	$('#fileuploads').fileupload({
       dataType: 'json',
       done: function (e, data) {
       	   if(data){
	       		alert("上传成功！");
	       		location.reload();
	       }
       }
   });

   //修改音乐名称
   $(document).on('click', '.music-update', function(event) {
   	  
   	   var $td = $(this).parent().parent().parent().parent().prev().prev();
   	   var str = $td.html();
   	   $td.html('<input type="text" style="border: 1px solid #d1d1d1;height: 31px;" value="'+str+'" /><button class="sure-changebtn am-btn am-btn-primary am-btn-xs">确定修改</button>');

   }).on('click', '.sure-changebtn', function(event) {//确认修改
   	   var data = {};
   	   var $this = $(this);
   	   data.musicId = $(this).parent().prev().html();
   	   data.musicName = $(this).prev().val();
   	   $.ajax({
          url:'/admin/updateMusic',
          type:'post',
          data:data,
          success:function(msg){
            if(msg){
              alert("修改成功！");
              //location.reload();
              $this.parent().html(data.musicName);
            }
          }
        });
   }).on("click",".music-del",function(){ //删除音乐
   		var id = $(this).attr("data-id");
   		$.ajax({
          url:'/admin/deleteMusic',
          type:'post',
          data:{musicId:id},
          success:function(msg){
            if(msg){
              alert("删除成功！");
              location.reload();
            }
          }
        });
   });

});
/*]]>*/          
</script>

</html>